<form method="POST" action="/api/login">
  <label for="fname">name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="mail">mail:</label><br>
  <input type="email" id="mail" name="mail"><br><br>
  <label for="psw">password:</label><br>
  <input type="password" id="psw" name="psw"><br><br>
  <input type="submit" value="Submit">
</form> 