
<label for="message">Write a message:</label>
<input type="text" id="message" name="message" value="">
<div id="div"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>