<h1>Welcome to StudentsList</h1>
<div>
  <p id="students"></p>
</div>
<button id="prevPage">Previous Page</button>
<p id="page"></p>
<button id="nextPage">Next Page</button>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>