<div>
  <h1>Login de usuario</h1>
  <form id="loginForm">
    <label>Email</label>
    <input name="email" />
    {{! missing type="email" -> insecure design }}
    <label>Password</label>
    <input name="password" />
    {{! missing type="password" -> insecure design }}
    <button>Enviar</button>
  </form>
</div>
<script src="/js/login.js"></script>