<body>
  <div id="user"></div>
  <button class="button" id="delete">DELETE User</button>
  <button class="button" id="toggle">Toggle Premium User</button>
</body>
<script src="/js/adminHomePage.js"></script>