<div>
  <div class="chat-container">
    <div class="chat-header">
      <h2>ChatBox</h2>
    </div>

    <div class="chat-window">

      <div id="messageLogs"></div>

    </div>

    <div class="chat-input-container">
      <input
        type="text"
        placeholder="Write a message..."
        name="message"
        id="chatBox"
      />
    </div>
  </div>

</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>