<h1>Products List</h1>
<div>
  <p id="products"></p>
</div>
<button id="prevPage">Previous Page</button>
<p id="page"></p>
<button id="nextPage">Next Page</button>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>