<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Yinka Enoch Adedokun" />
  <meta
    name="description"
    content="Simple Forgot Password Page Using HTML and CSS"
  />
  <meta name="keywords" content="forgot password page, basic html and css" />
  <title>Reset Password</title>
</head>
<body>
  <div class="row">
    <h1>Reset Password</h1>
    <h6 class="information-text">Enter your new Password</h6>
    <div class="form-group">
      <input type="password" name="pwd" id="pwd" placeholder="New Password" />
      <button id="reset">Reset Password</button>
    </div>
  </div>
</body>

<script src="/js/resetPasswordConfirm.js"></script>